# Compiler files
cache/
out/

# docs
docs/

# gas snapshot files
.gas-snapshot

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# OSX
.DS_Store

# Coverage reports and data
coverage-report/
lcov.info
lcov_filtered.info